body {
    background: url(/stylesheets/nice_snow.png) repeat 0 0;
}

#archive_table {
	font-family:"Verdana", Geneva, sans-serif;
}

#archive_table th {
	border-bottom:1px solid black;	
	border-collapse:collapse;
}

#archive_table a {
    text-decoration:none;
}

.post {
	font-family:"Verdana", Geneva, sans-serif;
}

.post_header {
	border-left-style:groove;
	border-left-color:black;
    color:5e606b;
    padding-left:5px;
}

.post_header a {
    text-decoration:none;
}

.taglist {
    font-size:10px;
}

.taglist a {
    text-decoration:underline;
    color:grey;
}
