<div class="span12">
    <div class="col-md-3">
        <h3>Title</h3> <br/>
        {{range .}}
        <b><a href="/posts/{{.ID}}">{{.Title}}</a></b>
        <br/>
        {{end}}
    </div>
    <div class="col-md-3">
        <h3>Author</h3> <br/>
        {{range .}}
        {{.Author}}
        <br/>
        {{end}}
    </div>
    <div class="col-md-3">
        <h3>Date</h3> <br/>
        {{range .}}
        {{.DateString}}
        <br/>
        {{end}}
    </div>
    <div class="col-md-3">
        <h3>Tags</h3> <br/>
        {{range .}}
        {{range .Tags}}
        <a href="/tags/{{.}}">{{.}}</a>
        {{end}}
        <br/>
        {{end}}
    </div>
</div>
