<html>
	<head>
		<title>Goblog Testing Site</title>	
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
	</head>
	<body>
		<div id="top_bar">
			<div id="header">
				<a href="/">Goblog Testing Site</a>
				<div id="header_menu">
					<table>
						<tr>
							<td><a href="/posts">Archive</a></td>
							<td><a href="/admin/post">Post</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="top_bar_accent"></div>
		</div>
	<div id="main">
	<div id="sidebar">
		<p>News goes here.</p>
		<p>Put ads or something.</p>
	</div>

	{{.HTMLBody}}
	</div>
	</body>
</html>
