<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<form action="/admin/post" method="post">
		Create a Blog Entry

		<table>
		<tr><td><br/></td></tr>
		<tr>
			<td>Title</td>
			<td><textarea name="title" rows="1" cols="120"></textarea></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea name="blogcontent" rows="25" cols="120"></textarea></td>
		</tr>
		<tr><td><br/></td></tr>
		<tr>
			<td><input type="submit" value="Post Entry" /></td>
			<td></td>
		</tr>
		</table>
	</form>

</body>
</html>

